<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,300i,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>Andreas Limi | Web Developer</title>


  <body>

  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="#">ANDREAS <span>LIMI</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto nav-items">
      <a class="nav-item nav-link" href="#home">HOME</a>
      <a class="nav-item nav-link" href="#about-me">ABOUT ME</a>
      <a class="nav-item nav-link" href="#portfolio">PORTFOLIO</a>
        <a class="nav-item nav-link" href="#contact">CONTACT</a>
    </div>
  </div>
</nav>


<section id="home">

<!-- ROW 1 -->
<div class="row">
<div class="col-lg-6 color-container d-flex align-items-center">

<img src="/img/transparent_test.png" id="profile-pic">

</div>
<div class="col-lg-6 d-flex justify-content-center align-items-center flex-column white-container">

<h1> Hello, I'm Andreas </h1>
<p class="lead"> Web developer and tech-enthusiast based in Norway </p>
<p class="lead">Currently studying computer science at the University of Oslo</p>
</div>

</div>

</section>

<!-- ROW 2 -->
<section id="about-me">

<div class="row">
<div class="col-lg-6 white-container d-flex justify-content-center align-items-center flex-column order-2 order-lg-1" id="aboutme">
<h1> About me </h1>
<p> I'm a full time student living in the city of Oslo. My major is in computer science at the Department of Informatics, with an emphasis on programming and development. I'm also a freelance web developer specializing in services for small to medium businesses. Everything from design, development and management. Feel free to look through my portfolio and pass me an email if you want to get in touch.  </p>
</div>

<div class="col-lg-6 color-container d-flex justify-content-center align-items-center order-1 order-lg-2">
<div id="icon-list">

<div class="row">
<div class="col">
<a><i class="fab fa-github-square"></i> </a>
</div>
<div class="col">
<a><i class="fab fa-linkedin"></i> </a>
</div>
</div>

<div class="row">
<div class="col">
<a><i class="fab fa-facebook"></i> </a>
</div>
<div class="col">
<a><i class="fab fa-instagram"></i> </a>
</div>
</div>

</div>
</div>
</div>


</section>

<section id="portfolio">
  <div class="section-header">
    <h1> Portfolio</h1>
    <p class="lead"> featured projects </p>

  </div>
  <div class="container">
  <div class="row">
  <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column project">
  <h3> CONCEPT SITE </h3>
  <img class="project-img" src="/img/fredrikstenkrothemetest.png">
  <p> Vivamus vulputate a quam ultrices fermentum. Donec sed vulputate libero, pulvinar rutrum augue. Etiam blandit maximus purus, vitae tempor elit gravida in. Vivamus vulputate a quam ultrices fermentum. </p>
  <a class="btn"> VIEW PROJECT </a>
  </div>

  <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column project">
    <h3> CONCEPT SITE </h3>
    <img class="project-img" src="/img/fredrikstenkrothemetest.png">
    <p> Vivamus vulputate a quam ultrices fermentum. Donec sed vulputate libero, pulvinar rutrum augue. Etiam blandit maximus purus, vitae tempor elit gravida in. Vivamus vulputate a quam ultrices fermentum. </p>
      <a class="btn"> VIEW PROJECT </a>
  </div>

  </div>

  <div class="row">
  <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column project">
  <h3> CONCEPT SITE </h3>
  <img class="project-img" src="/img/fredrikstenkrothemetest.png">
  <p> Vivamus vulputate a quam ultrices fermentum. Donec sed vulputate libero, pulvinar rutrum augue. Etiam blandit maximus purus, vitae tempor elit gravida in. Vivamus vulputate a quam ultrices fermentum. </p>
  <a class="btn"> VIEW PROJECT </a>
  </div>

  <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column project">
    <h3> CONCEPT SITE </h3>
    <img class="project-img" src="/img/fredrikstenkrothemetest.png">
    <p> Vivamus vulputate a quam ultrices fermentum. Donec sed vulputate libero, pulvinar rutrum augue. Etiam blandit maximus purus, vitae tempor elit gravida in. Vivamus vulputate a quam ultrices fermentum. </p>
    <a class="btn"> VIEW PROJECT </a>
  </div>

  </div>
</div>

</section>

<section id="contact">
<div class="row">
<div class="col-lg-6 d-flex justify-content-center align-items-center flex-column white-container">
<h1> Contact me </h1>
<p class="lead"> Feel free to contact me using my email. </p>
<p class="lead">I'll get back to you as soon as I can. </p>
<a id="email"><i>andreaslimidev@gmail.com</i></a>
</div>
<div class="col-lg-6 color-container d-flex justify-content-center align-items-center">
<a href="mailto:andreaslimidev@example.com"><i class="fas fa-envelope"></i> </a>
</div>
</div>

</section>

<footer>
<div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://andreaslimi.com"> Andreas Limi</a>
    </div>
</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/main.js" crossorigin="anonymous"></script>
  </body>
</html>
